<a href="https://colab.research.google.com/github/MuhammadAfaan/Advanced-Stats_Labs/blob/main/Advanced_Stats_Lab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# task#1 two sets
set1 = {'Affan', 'Roman', 'Ali Sher', 'Mudassir'}
set2 = {'Bilal', 'Dua', 'Affan', 'Fatima'}

In [ ]:
# task#2
print(" Set A",set1)
print(" Set B",set2)

print ("Union: ", set1.union(set2))
print ("Intersection: ", set1.intersection(set2))
print ("Difference SET 1- SET2", set1.difference(set2))
print ("Symmetric Diff", set1.symmetric_difference(set2))

 Set A {'Affan', 'Roman', 'Ali Sher', 'Mudassir'}
 Set B {'Bilal', 'Dua', 'Fatima', 'Affan'}
Union:  {'Ali Sher', 'Bilal', 'Dua', 'Roman', 'Affan', 'Fatima', 'Mudassir'}
Intersection:  {'Affan'}
Difference SET 1- SET2 {'Roman', 'Ali Sher', 'Mudassir'}
Symmetric Diff {'Ali Sher', 'Bilal', 'Dua', 'Roman', 'Fatima', 'Mudassir'}

In [ ]:
# task#3 testing member ship
name1 = 'Affan'
name2 = 'Ali Sher'

print(f"Is '{name1}' in Set 1? {name1 in set1}")
print(f"Is '{name2}' in Set 2? {name2 in set2}")

Is 'Affan' in Set 1? True
Is 'Ali Sher' in Set 2? False

In [ ]:
#task4 adding and removing
set1.add("Sheikh")
print("Set1 after adding", set1)
set1.remove("Affan")
print("Set1 after removing", set1)

Set1 after adding {'Ali Sher', 'Roman', 'Affan', 'Mudassir', 'Sheikh'}
Set1 after removing {'Ali Sher', 'Roman', 'Mudassir', 'Sheikh'}